/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}

/* common styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: hsl(216, 12%, 8%);
}

.component-1,
.component-2 {
  width: 41.2rem;
  height: 41.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 3rem;
}

.title {
  font-size: 2.8rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.5rem;
}

.description-text {
  color: hsl(217, 12%, 63%);
  line-height: 2.4rem;
}

/* before rating */
.before-rating-component {
  margin: 3.2rem 3.9rem 3.2rem 3.2rem;
}

.star-icon {
  display: inline-block;
  padding: 1.6rem;
  border-radius: 100%;
  background-color: hsl(213, 19%, 18%);

  margin-bottom: 3rem;
}

.star {
  display: flex;
}

.initial-text-container {
  margin-bottom: 2.4rem;
}

.rating-values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 2.2rem;
  margin-bottom: 3.2rem;
}

.rating-value {
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  color: hsl(216, 12%, 54%);
  padding: 2.5rem;
  font-weight: 700;

  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.rating-value:hover,
.rating-value:active {
  background-color: hsl(216, 12%, 54%);
  color: #fff;

  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border-style: none;

  font-weight: 700;

  letter-spacing: 0.2rem;
  padding: 1.3rem 13.8rem;
  border-radius: 2.25rem;
}

.submit-button:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

/* after rating */
.after-rating-component {
  margin: 4.5rem 4rem 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you-photo {
  width: 16.2rem;
  height: 10.8rem;
  margin-bottom: 3.6rem;
}

.value-selected-text {
  color: #fc7614;
  font-weight: 400;
  padding: 0.8rem 2rem;
  border-radius: 2.2rem;
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 3.6rem;
}

.final-text-container {
  text-align: center;
}

/* hiding the container */
.hidden {
  display: none;
}

/* details about the challenge */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
